In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [2]:
!pip install implicit

Collecting implicit
  Using cached https://files.pythonhosted.org/packages/bc/07/c0121884722d16e2c5beeb815f6b84b41cbf22e738e4075f1475be2791bc/implicit-0.4.4.tar.gz
Requirement already satisfied: numpy in c:\users\елена\appdata\roaming\python\python37\site-packages (from implicit) (1.20.3)
Requirement already satisfied: scipy>=0.16 in c:\programs\anaconda3\lib\site-packages (from implicit) (1.3.1)
Requirement already satisfied: tqdm>=4.27 in c:\programs\anaconda3\lib\site-packages (from implicit) (4.36.1)
Building wheels for collected packages: implicit
  Building wheel for implicit (setup.py): started
  Building wheel for implicit (setup.py): finished with status 'done'
  Created wheel for implicit: filename=implicit-0.4.4-cp37-cp37m-win_amd64.whl size=666700 sha256=96af44c34f6446688ddb8cfa0ed3c4b9a20f66a3869b671c61d20985ed6e0881
  Stored in directory: C:\Users\6145~1\AppData\Local\pip\Cache\wheels\bf\d4\ec\fd4f622fcbefb7521f149905295b2c26adecb23af38aa28217
Successfully built implicit
Installing collected packages: implicit
Successfully installed implicit-0.4.4

In [3]:
data = pd.read_csv('retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [4]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [4]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [53]:
def weighted_random_recommendation(items_weights, n=5):
   
    items = items_weights['item_id']
    weights = items_weights['weight'] 
    
    recs = np.random.choice(items, p=weights, size=n, replace=False)
    
    return recs.tolist()

In [54]:
%%time

popularity = data_test.groupby('item_id').size().reset_index(name='item_count')
popularity['weight_prep'] = np.log(popularity['item_count']) 
popularity['weight'] = popularity['weight_prep'] / popularity['weight_prep'].sum()
columns = ['item_id', 'weight']
items_weight = popularity[columns]

result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weight, n=5))
result.head(2)

Wall time: 923 ms

,user_id,actual,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[896617, 823365, 985361, 15926712, 13008469]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[834491, 1023021, 931635, 12302114, 8090532]"

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [39]:
result = pd.read_csv('predictions_basic.csv')
result.head()

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,[ 821867 834484 856942 865456 889248 ...,"[12487931, 831536, 1034556, 5768936, 13008291]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]"
1,3,[ 835476 851057 872021 878302 879948 ...,"[13115896, 1121603, 6766506, 12385185, 10456579]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]"
2,6,[ 920308 926804 946489 1006718 1017061 ...,"[13382383, 1319807, 12425387, 828999, 12158036]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 878996]","[1082185, 1029743, 6534178, 1127831, 995785]"
3,7,[ 840386 889774 898068 909714 929067 ...,"[6546594, 6395922, 1034773, 964390, 2436947]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 981760, 999999, 1127831, 961554]","[1082185, 981760, 1127831, 999999, 961554]","[1082185, 1029743, 1127831, 995785, 1044078]"
4,8,[ 835098 872137 910439 924610 992977 ...,"[863350, 904881, 1082955, 10355816, 12695956]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 1098066]","[1082185, 981760, 999999, 1098066, 826249]","[1082185, 981760, 999999, 1098066, 826249]","[1082185, 1029743, 1098066, 6534178, 1127831]"

In [40]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    
    precision = flags.sum() / len(recommended_list)
    
    return precision

In [15]:
import ast
 
# код для корректной загрузки датасета
result['actual'] = result['actual'].apply(lambda row: np.fromstring(row[1:-1],sep=' ',dtype=int))
for column_name in result.columns[2:]:
    result[column_name] = result[column_name].apply(ast.literal_eval)
 
# код для красивого отображения метрик
for column_name in result.columns[1:]:
    print('%s: %f' % (column_name, result.apply(lambda row: precision_at_k(row[column_name], row['actual']), axis=1).mean()))

actual: 1.000000
random_recommendation: 0.000588
popular_recommendation: 0.155240
itemitem: 0.136925
cosine: 0.132909
tfidf: 0.138981

C:\Programs\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in long_scalars
  # This is added back by InteractiveShellApp.init_path()

own_purchases: 0.201917

### Задание 3*. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

### Улучшение бейзлайнов

In [47]:
result_5000 = data_test.groupby('user_id')['item_id'].unique().reset_index()
result_5000.columns=['user_id', 'actual']
result_5000.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [48]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [49]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000)
top_5000

       item_id     n_sold
55470  6534178  190227964
55430  6533889   15978434
55465  6534166   12439291
55576  6544236    2501949
43620  1404121    1562004
...        ...        ...
51914  5574045        120
10610   864048        119
7777    838842        119
26071  1004001        119
23122   977033        119

[5000 rows x 2 columns]

In [50]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [52]:
%%time

items = top_5000['item_id']

result_5000['random_recommendation_5000'] = result_5000['user_id'].apply(lambda x: random_recommendation(items, n=5))
result_5000.head(2)

Wall time: 427 ms

,user_id,actual,random_recommendation_5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[12384431, 1046689, 953320, 822346, 12172355]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[980727, 869344, 10345155, 999563, 1019230]"

In [53]:
%%time

result_5000['popular_recommendation_5000'] = result_5000['user_id'].apply(lambda x: top_5000.head(5).item_id.tolist())
result_5000.head(2)

Wall time: 322 ms

,user_id,actual,random_recommendation_5000,popular_recommendation_5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[12384431, 1046689, 953320, 822346, 12172355]","[6534178, 6533889, 6534166, 6544236, 1404121]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[980727, 869344, 10345155, 999563, 1019230]","[6534178, 6533889, 6534166, 6544236, 1404121]"

In [54]:
for column_name in result_5000.columns[1:]:
    print('%s: %f' % (column_name, result_5000.apply(lambda row: precision_at_k(row[column_name], row['actual']), axis=1).mean()))

actual: 1.000000
random_recommendation_5000: 0.004701
popular_recommendation_5000: 0.046131

In [ ]:
#random_recommendation улучшился, но popular_recommendation, взятый от топ по колчеству проданных товаров ухудшился.

### Улучшение ItemItemRecommender

In [55]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()
top_5000

[6534178,
 6533889,
 6534166,
 6544236,
 1404121,
 397896,
 1426702,
 5703832,
 480014,
 5668996,
 6410462,
 420647,
 5747420,
 731106,
 5716076,
 707683,
 202291,
 1153346,
 1082185,
 5747233,
 6410464,
 545926,
 995242,
 2848087,
 1388206,
 1029743,
 5712216,
 5850988,
 1133018,
 1106523,
 1007195,
 981760,
 5845857,
 883404,
 1127831,
 2690723,
 866227,
 995785,
 860776,
 951590,
 5569230,
 908531,
 916122,
 826249,
 1098066,
 862349,
 1058997,
 1044078,
 904360,
 840361,
 923746,
 1126899,
 849843,
 961554,
 1005186,
 820165,
 1053690,
 844179,
 844165,
 1070820,
 1065593,
 834484,
 994928,
 833715,
 859075,
 1022003,
 1013321,
 938700,
 854852,
 986947,
 5569471,
 927191,
 1071939,
 1096036,
 1004906,
 986912,
 1080414,
 914190,
 908846,
 962229,
 8090521,
 1085604,
 911878,
 1092026,
 866211,
 1068719,
 878996,
 8090537,
 1081177,
 847270,
 929668,
 1024306,
 909894,
 907014,
 903325,
 910032,
 1095275,
 833025,
 862139,
 962568,
 953476,
 847982,
 999971,
 968215,
 1028816,
 976998,
 845208,
 1053763,
 1050229,
 5568378,
 1124729,
 1062966,
 965766,
 1033142,
 987562,
 930917,
 868764,
 1003600,
 857849,
 1070015,
 1101173,
 1120741,
 933835,
 899624,
 979707,
 1075368,
 822407,
 893018,
 6034857,
 1038217,
 893501,
 1006184,
 879755,
 1055863,
 1003188,
 989101,
 995965,
 9526410,
 901062,
 989075,
 913785,
 1003421,
 1029624,
 5592931,
 951526,
 1056509,
 983584,
 911812,
 1037863,
 1113588,
 1026118,
 925626,
 892008,
 916381,
 1136257,
 12810393,
 896369,
 5569845,
 1039156,
 973861,
 985999,
 1043590,
 1101010,
 1022254,
 1110572,
 824005,
 956609,
 1132763,
 1077555,
 830750,
 1055646,
 1030819,
 6533765,
 824555,
 860975,
 866950,
 1051069,
 9527290,
 940947,
 918733,
 925514,
 1118393,
 1050131,
 999858,
 5590287,
 909714,
 874972,
 1023720,
 1045220,
 987480,
 1022872,
 873627,
 976199,
 9245462,
 5569374,
 1015247,
 900491,
 871756,
 5585510,
 1114597,
 913210,
 890610,
 1033615,
 9245413,
 1050851,
 9526563,
 919644,
 845193,
 1041259,
 1056651,
 970030,
 1074405,
 832678,
 5582789,
 1127624,
 903674,
 880150,
 1119051,
 1076056,
 882441,
 1106301,
 9337581,
 911215,
 5569327,
 1048462,
 834117,
 7167218,
 1105488,
 1037840,
 1122358,
 1077490,
 1023958,
 1051516,
 913202,
 951412,
 1027569,
 976065,
 897954,
 1137688,
 1042438,
 965267,
 1040807,
 865178,
 1110843,
 6773204,
 9553031,
 8090532,
 1000753,
 885290,
 1070702,
 7440663,
 866140,
 870547,
 852864,
 856772,
 908213,
 5584027,
 990797,
 1102959,
 979746,
 999270,
 908318,
 918335,
 883932,
 969866,
 9527487,
 890695,
 1014948,
 1134522,
 879948,
 823704,
 861445,
 863447,
 870780,
 861272,
 912681,
 854405,
 949616,
 1132770,
 1057260,
 872137,
 8160319,
 892920,
 1110793,
 857503,
 5585735,
 1012873,
 1002558,
 1094955,
 1042907,
 1043751,
 987724,
 940766,
 1132771,
 12301109,
 1117514,
 1062002,
 1022981,
 1018740,
 971922,
 8011397,
 944534,
 1119879,
 976300,
 1131438,
 976955,
 862732,
 1049788,
 1077975,
 850841,
 999104,
 835098,
 1058779,
 898980,
 839419,
 1116821,
 981944,
 1020581,
 938566,
 8205218,
 883963,
 947798,
 5585635,
 952317,
 935284,
 1126310,
 972742,
 1076875,
 1128016,
 5587133,
 897125,
 907631,
 1080331,
 867188,
 1036501,
 9526886,
 916993,
 9445919,
 1036432,
 944139,
 1041796,
 1034686,
 10285144,
 995876,
 957951,
 905539,
 939578,
 883003,
 12263788,
 889774,
 1137775,
 993638,
 8065410,
 839147,
 1107553,
 5588666,
 910291,
 939636,
 9527494,
 894236,
 1051211,
 865330,
 12301100,
 900802,
 865456,
 977499,
 999134,
 933637,
 1046262,
 985119,
 833723,
 9677202,
 5584007,
 1096343,
 895540,
 949023,
 843756,
 1055283,
 5568729,
 930118,
 946995,
 825541,
 1071333,
 967395,
 970119,
 944836,
 845705,
 839849,
 821083,
 1089392,
 1061220,
 1041157,
 917494,
 1043301,
 1102949,
 926646,
 1074524,
 916767,
 1052912,
 5591038,
 870515,
 7441391,
 855468,
 853904,
 937626,
 1087102,
 1097001,
 944317,
 856252,
 1037894,
 1083721,
 852317,
 1135768,
 847789,
 1034499,
 5585727,
 910745,
 1012587,
 6602697,
 859010,
 819978,
 951197,
 936594,
 986394,
 973673,
 968417,
 1071377,
 1116578,
 896085,
 1082212,
 905913,
 898068,
 921744,
 974108,
 6463658,
 952981,
 1105623,
 1055853,
 965842,
 894511,
 1130858,
 1138443,
 926905,
 1128665,
 8090509,
 831628,
 911470,
 882305,
 1069415,
 922907,
 937571,
 1001148,
 984715,
 1138189,
 985427,
 1091365,
 879528,
 1123792,
 918368,
 919534,
 912553,
 897306,
 823758,
 1112238,
 1096317,
 1069621,
 865528,
 1115874,
 874736,
 878302,
 928049,
 1098248,
 896613,
 971165,
 9526411,
 868075,
 1009449,
 838186,
 860299,
 1013149,
 982790,
 1072523,
 1127179,
 831536,
 12302069,
 1016800,
 5995423,
 1075470,
 1029112,
 951190,
 1108168,
 9705473,
 863802,
 931671,
 1132280,
 1092948,
 823990,
 1044805,
 7024990,
 8090536,
 864774,
 1020682,
 1111072,
 1076881,
 9420312,
 915621,
 902172,
 5585639,
 848355,
 1027168,
 852856,
 913490,
 1051323,
 1072330,
 937791,
 845537,
 12301405,
 1118533,
 1075707,
 9527158,
 1022843,
 822241,
 1139830,
 885863,
 1077703,
 1022053,
 827180,
 1062128,
 8177622,
 933067,
 1118598,
 1042697,
 9571047,
 908489,
 1045515,
 866871,
 904023,
 985893,
 972569,
 1007191,
 937292,
 1054262,
 1013770,
 1135258,
 988693,
 896862,
 999779,
 1074754,
 1055504,
 5568228,
 980727,
 947068,
 896938,
 1110764,
 5578494,
 936634,
 957063,
 957736,
 873203,
 865891,
 948670,
 920308,
 13511722,
 941741,
 871611,
 9527160,
 970202,
 852486,
 910673,
 963971,
 1053875,
 1075313,
 945779,
 964327,
 819765,
 828867,
 952163,
 934639,
 6944571,
 1056746,
 905582,
 943233,
 893868,
 848015,
 972931,
 1067695,
 9835509,
 895070,
 900072,
 932006,
 982960,
 1010190,
 1128240,
 845307,
 858302,
 1133072,
 819927,
 1019744,
 5584847,
 1038663,
 1071342,
 1100972,
 1073150,
 7167249,
 837107,
 914513,
 1029968,
 7139529,
 948650,
 959985,
 1124674,
 949965,
 851057,
 9245106,
 5568489,
 1084331,
 845078,
 1100658,
 1037332,
 1011884,
 998206,
 998373,
 873178,
 942088,
 836281,
 1104343,
 1110142,
 849202,
 1079987,
 929433,
 932863,
 1033846,
 1123086,
 1022097,
 831815,
 1068292,
 1033913,
 1051305,
 9836903,
 882138,
 952254,
 1055425,
 1105917,
 1129671,
 882830,
 977545,
 842140,
 1101174,
 1025611,
 852035,
 1111839,
 1123842,
 903230,
 1011300,
 1074333,
 999714,
 989069,
 838258,
 1112473,
 5584645,
 915349,
 944137,
 1115576,
 8011282,
 1119761,
 973868,
 7168224,
 935317,
 934676,
 1005609,
 835576,
 834103,
 998444,
 1110244,
 885697,
 902167,
 919948,
 848029,
 917816,
 905868,
 869577,
 1092937,
 1081189,
 981521,
 1033220,
 968932,
 1000237,
 995896,
 993466,
 1095700,
 10121965,
 839656,
 1100410,
 12946027,
 1013928,
 898212,
 906262,
 880427,
 1022119,
 942525,
 820560,
 892531,
 965719,
 1013187,
 7440665,
 5584620,
 827683,
 8090440,
 982493,
 819255,
 844818,
 10344585,
 830887,
 838602,
 944466,
 972312,
 950557,
 959409,
 1095100,
 988791,
 1046545,
 971949,
 847344,
 1009200,
 986760,
 962274,
 5587043,
 6534480,
 1088835,
 893739,
 1039589,
 7409957,
 968072,
 8019716,
 1107289,
 1051093,
 944486,
 873654,
 5591170,
 13115493,
 1040371,
 1076571,
 865705,
 962118,
 909268,
 873874,
 850102,
 953134,
 982469,
 5585636,
 9575181,
 990656,
 921836,
 901666,
 983936,
 839094,
 1005637,
 998119,
 7025106,
 1057102,
 865303,
 897752,
 907994,
 889731,
 861279,
 5583944,
 891954,
 1037451,
 905986,
 874058,
 893400,
 1042544,
 1128647,
 960732,
 863664,
 1122568,
 945273,
 946839,
 960984,
 840601,
 835530,
 1044895,
 7025114,
 991379,
 10285141,
 12262778,
 5586642,
 873527,
 983795,
 1021116,
 878234,
 1127758,
 1108131,
 1078346,
 922127,
 828106,
 1131344,
 921504,
 965331,
 1129576,
 1111230,
 6442594,
 901403,
 1040693,
 1011645,
 848319,
 1012816,
 5586076,
 871440,
 1130777,
 932182,
 859427,
 825343,
 857006,
 890513,
 1075214,
 863337,
 904129,
 848071,
 1005274,
 934427,
 1118787,
 916990,
 961269,
 968774,
 993441,
 1043064,
 890536,
 9913338,
 861701,
 1115175,
 867519,
 1014238,
 1090017,
 846823,
 1082310,
 5580793,
 925112,
 945662,
 873964,
 1088393,
 948232,
 1139827,
 925862,
 1093359,
 872417,
 874149,
 13841744,
 871061,
 833556,
 12648296,
 1123014,
 928754,
 826385,
 1043128,
 1070214,
 6534077,
 964356,
 891141,
 873902,
 1052046,
 1056762,
 1135995,
 957013,
 1098844,
 1029504,
 823721,
 1103741,
 958252,
 1137346,
 5584808,
 1024731,
 843744,
 917033,
 989824,
 1077430,
 7410290,
 908346,
 5569135,
 5574377,
 954966,
 964968,
 8291322,
 825365,
 843306,
 932298,
 1075074,
 882288,
 5591154,
 855310,
 837270,
 934369,
 1048483,
 1088147,
 969568,
 5586942,
 870980,
 5573314,
 9416729,
 1055503,
 896444,
 922318,
 1002771,
 885023,
 9836106,
 1079228,
 5563693,
 908181,
 1135834,
 961979,
 1131550,
 5589247,
 12384365,
 1015539,
 1038985,
 819518,
 951746,
 5588238,
 958137,
 9337369,
 850058,
 863449,
 1059891,
 886703,
 872729,
 6464086,
 1085476,
 825749,
 1118012,
 1102416,
 1003441,
 879635,
 923673,
 10285149,
 901543,
 12301839,
 960318,
 12301073,
 10149640,
 997506,
 9677236,
 1120443,
 991223,
 909396,
 954642,
 1070272,
 845262,
 865174,
 12263692,
 1067606,
 970747,
 1013641,
 12811532,
 849315,
 834833,
 1103629,
 963835,
 848268,
 822785,
 921345,
 849264,
 1007136,
 847573,
 929018,
 866755,
 1076738,
 1123420,
 996070,
 948420,
 9483663,
 6534035,
 932179,
 1126252,
 1077143,
 1026346,
 6533936,
 1124695,
 1127817,
 825994,
 1014675,
 979239,
 1037337,
 880253,
 828935,
 908064,
 1123720,
 912704,
 999581,
 903233,
 902192,
 12384775,
 868423,
 845109,
 829852,
 851676,
 820122,
 995478,
 924610,
 973889,
 991951,
 ...]

In [56]:
# Заведем фиктивный item_id (если юзер покупал товары из топ-5000, то он "купил" такой товар)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

C:\Users\Елена\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [59]:
%%time

model_2 = ItemItemRecommender(K=2, num_threads=4) # K - кол-во билжайших соседей
model_5 = ItemItemRecommender(K=5, num_threads=4)
model_10 = ItemItemRecommender(K=10, num_threads=4)
model_15 = ItemItemRecommender(K=15, num_threads=4)

model_2.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)
model_5.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)
model_10.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)
model_15.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

Wall time: 5.08 s

In [58]:
result_itemitem = data_test.groupby('user_id')['item_id'].unique().reset_index()
result_itemitem.columns=['user_id', 'actual']
result_itemitem.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [60]:
%%time

result_itemitem['itemitem_2'] = result_itemitem['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model_2.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

result_itemitem['itemitem_5'] = result_itemitem['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model_5.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

result_itemitem['itemitem_10'] = result_itemitem['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model_10.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

result_itemitem['itemitem_15'] = result_itemitem['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model_15.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

Wall time: 516 ms

In [61]:
for column_name in result_itemitem.columns[1:]:
    print('%s: %f' % (column_name, result_itemitem.apply(lambda row: precision_at_k(row[column_name], row['actual']), axis=1).mean()))

actual: 1.000000
itemitem_2: 0.192009
itemitem_5: 0.136925
itemitem_10: 0.150930
itemitem_15: 0.153183

In [ ]:
# лучше всего показала себя модель с двумя соседями.